<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>배탈의 민족</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <header>
        <nav>
            <div class="text-right">
              <%
              if(session.user==undefined)
              {
              %>
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" onclick="location.href='/login';">로그인</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/signup';">회원가입</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/service';">고객센터</button>
                        </span>
                    </div>
                </div>
                <%
                }
                else{
                %>
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" onclick="location.href='/mypage/order_list';">마이페이지</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/login/logout';">로그아웃</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/service';">고객센터</button>
                        </span>
                    </div>
                </div>

                <%
                }
                %>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href='/'>
                    <img class="img-responsive center-block" src="/images/main_logo.jpg" alt="logo">
                </a>
                <br>
                <br>
                <br>
            </div>
        </div>

        <div class="input-group srch">
            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="동명을 입력해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">찾기</button>
            </span>

            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="업소명을 검색해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">검색</button>
            </span>
        </div>
    </div>
    <br>
    <br>
    <!-- Centered Tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li>
            <a href="/list/피자" class="btn btn-secondary hoverbtn"> <img class="img-circle img-responsive img-center" src="/images/Pizza.jpg" width="100px" height="100px" alt="" id="pizza"></a>
        </li>
        <li>
            <a href="/list/치킨" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Chicken.jpg" width="100px" height="100px" alt="" id="chicken"></a>
        </li>
        <li>
            <a href="/list/일식" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Chobab.jpg" width="100px" height="100px" alt="" id="japan"></a>
        </li>
        <li>
            <a href="/list/분식" class="btn btn-secondary hoverbtn"> <img class="img-circle img-responsive img-center" src="/images/Bunsick.jpg" width="100px" height="100px" alt="" id="boon"></a>
        </li>
        <li>
            <a href="/list/중식" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Zazang.jpg" width="100px" height="100px" alt="" id="china"></a>
        </li>
        <li>
            <a href="/list/햄버거" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Hamburger.jpg" width="100px" height="100px" alt="" id="ham"></a>
        </li>
    </ul>
    <br><br>
    <script>
        $("a.hoverbtn").hover(function(){
            console.log($(this)[0].children[0].id);
            switch($(this)[0].children[0].id){
                case "pizza": $(this)[0].children[0].src = "/images/Pizza2.jpg";
                    break;
                case "chicken": $(this)[0].children[0].src = "/images/Chicken2.jpg";
                    break;
                case "japan": $(this)[0].children[0].src = "/images/Chobab2.jpg";
                    break;
                case "boon": $(this)[0].children[0].src = "/images/Bunsick2.jpg";
                    break;
                case "china": $(this)[0].children[0].src = "/images/Zazang2.jpg";
                    break;
                case "ham": $(this)[0].children[0].src = "/images/Hamburger2.jpg";
                    break;
            }
        }, function(){
            switch($(this)[0].children[0].id){
                case "pizza": $(this)[0].children[0].src = "/images/Pizza.jpg";
                    break;
                case "chicken": $(this)[0].children[0].src = "/images/Chicken.jpg";
                    break;
                case "japan": $(this)[0].children[0].src = "/images/Chobab.jpg";
                    break;
                case "boon": $(this)[0].children[0].src = "/images/Bunsick.jpg";
                    break;
                case "china": $(this)[0].children[0].src = "/images/Zazang.jpg";
                    break;
                case "ham": $(this)[0].children[0].src = "/images/Hamburger.jpg";
                    break;
            }
        });
    </script>

    <div class=container>
        <div class="row">
      <%
      for(var i=0; i<rows.length;i++)
      {
        var oneItem = rows[i];
      %>
                <div class="col-xs-4">
                    <div class="thumbnail">
                        <a href="/shop/<%=oneItem.seller_name%>">
                        <img src="/images/업소 대표사진/<%=oneItem.seller_type%>/<%=oneItem.seller_img%>" alt="업소대표사진">
                        </a>
                        <div class="caption">
                            <h4><%=oneItem.seller_name%></h4>
                            <p>
                                <%=oneItem.seller_tell%>
                            </p>
                            <p><a href="/shop/<%=oneItem.seller_name%>" class="btn btn-info" role="button">구매하기</a></p>
                        </div>
                    </div>
                </div>
      <%
      }
      %>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Software Engineering Project </p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>


    <!-- jQuery -->
    <script src="/bootstrap-3.3.6-dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    </div>
</body>

</html>
