<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>배탈의 민족</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <header>
        <nav>
            <div class="text-right">
              <%
              if(session.user==undefined)
              {
              %>
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" onclick="location.href='/login';">로그인</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/signup';">회원가입</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/service';">고객센터</button>
                        </span>
                    </div>
                </div>
                <%
                }
                else{
                %>
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" onclick="location.href='/mypage/order_list';">마이페이지</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/login/logout';">로그아웃</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/service';">고객센터</button>
                        </span>
                    </div>
                </div>

                <%
                }
                %>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="/">
                    <img class="img-responsive center-block" src="/images/main_logo.jpg" alt="logo">
                </a>
                <br>
                <br>
                <br>
            </div>
        </div>

        <!-- Text박스로 업소명 입력 및 위치 입력 코드 추가해야됨 -->
        <div class="input-group srch">
            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="동명을 입력해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">찾기</button>
            </span>

            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="업소명을 검색해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">검색</button>
            </span>
        </div>
    </div>
    <br>
    <br>
    <ul class="nav nav-tabs nav-justified">
        <li>
            <a href="/list/피자" class="btn btn-secondary hoverbtn"> <img class="img-circle img-responsive img-center" src="/images/Pizza.jpg" width="100px" height="100px" alt="" id="pizza"></a>
        </li>
        <li>
            <a href="/list/치킨" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Chicken.jpg" width="100px" height="100px" alt="" id="chicken"></a>
        </li>
        <li>
            <a href="/list/일식" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Chobab.jpg" width="100px" height="100px" alt="" id="japan"></a>
        </li>
        <li>
            <a href="/list/분식" class="btn btn-secondary hoverbtn"> <img class="img-circle img-responsive img-center" src="/images/Bunsick.jpg" width="100px" height="100px" alt="" id="boon"></a>
        </li>
        <li>
            <a href="/list/중식" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Zazang.jpg" width="100px" height="100px" alt="" id="china"></a>
        </li>
        <li>
            <a href="/list/햄버거" class="btn btn-secondary hoverbtn"><img class="img-circle img-responsive img-center" src="/images/Hamburger.jpg" width="100px" height="100px" alt="" id="ham"></a>
        </li>
    </ul>
    <br><br>
    <script>
        $("a.hoverbtn").hover(function(){
            console.log($(this)[0].children[0].id);
            switch($(this)[0].children[0].id){
                case "pizza": $(this)[0].children[0].src = "/images/Pizza2.jpg";
                    break;
                case "chicken": $(this)[0].children[0].src = "/images/Chicken2.jpg";
                    break;
                case "japan": $(this)[0].children[0].src = "/images/Chobab2.jpg";
                    break;
                case "boon": $(this)[0].children[0].src = "/images/Bunsick2.jpg";
                    break;
                case "china": $(this)[0].children[0].src = "/images/Zazang2.jpg";
                    break;
                case "ham": $(this)[0].children[0].src = "/images/Hamburger2.jpg";
                    break;
            }
        }, function(){
            switch($(this)[0].children[0].id){
                case "pizza": $(this)[0].children[0].src = "/images/Pizza.jpg";
                    break;
                case "chicken": $(this)[0].children[0].src = "/images/Chicken.jpg";
                    break;
                case "japan": $(this)[0].children[0].src = "/images/Chobab.jpg";
                    break;
                case "boon": $(this)[0].children[0].src = "/images/Bunsick.jpg";
                    break;
                case "china": $(this)[0].children[0].src = "/images/Zazang.jpg";
                    break;
                case "ham": $(this)[0].children[0].src = "/images/Hamburger.jpg";
                    break;
            }
        });
    </script>

    <div class="container">
        <p><strong><h1>배달/ 결제정보</h1></strong></p>
            <hr size="10">
    </div>

    <div class="container container-width">
      <form action="/order" method="post">
        <input type='hidden' id="selname" name="selname" value="<%=seller_name%>">
        <div class="content row">
          <div class="page col-md-8" id="scode_content">
                <div class="question-area">
                    <div class="question-dummy clearfix">
                        <table class="table table-striped" width="400">
                            <p><strong><h3>01. 배달정보</h3></strong></p>
                                <hr size="10">
                                <tr>
                                    <th>전화번호</th>
                                    <td><!--로그인 정보로 부터 핸드폰번호 가져올것 -->
                                        <input type="text" id="tel" name="tel" value="<%=row2[0].user_tel%>" size="30" maxlength="50"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th><!--로그인 정보로 부터 주소정보 가져올것 -->
                                    <td>
                                        <input type="text" id="addr" name="addr" value="<%=row2[0].user_addr%>" size="30" maxlength="50"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>요구사항</th>
                                    <td>
                                        <input type="text" id="etc" name="etc" size="30" maxLength="50">
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>

                <div class="question-area">
                    <div class="question-dummy clearfix">
                        <table class="table table-striped" width="400">
                            <p><strong><h3>02. 할인적용</h3></strong></p>
                                <hr size="10">
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <p><strong><h3>03. 결제방법 선택</h3></strong></p>
                    <hr size="10">
                    <input type="hidden" id="m_length" name="m_length" value="<%=row1.length%>">
                <div class="pay-total-info">
                    <ul class="list-group">
                        <%
                        var m_name = new Array();
                        var quant = new Array();
                        var code = new Array();
                        var m_price = new Array();
                        var total_price;
                        var total_quent;

                        for(i=0;i<m_quant.length;i+=2)
                        {
                          m_name.push(m_quant[i]);
                          for(j=0;j<row1.length;j++)
                          {
                            if(m_quant[i]==row1[j].menu_name)
                            {
                              m_price.push(row1[j].menu_price);
                              code.push(row1[j].menu_code);
                            }
                          }
                          quant.push(m_quant[i+1]);

                        }
                        total_price=0;

                        for(k=0;k<row1.length;k++)
                        {
                          var price=m_price[k]*quant[k];
                          total_price +=price;
                        %>

                        <input type='hidden' id='m_code[<%=k%>]' name=m_code value='<%=code[k]%>'>
                        <input type="hidden" id="quantity[<%=k%>]" name="quantity" value="<%=quant[k]%>">
                        <li class="list-group-item list-group-item-success"><%=m_name[k]%><strong class="pull-right"><%=price%>원</strong>
                          <ul class="list-unstyled xsmall">
                            <li class="of-h">가격 : <span class="pull-right"> <%=m_price[k]%>원 x <%=quant[k]%></span></li>
                          </ul>
                        </li>

                        <%
                      }
                      %>

                        <li class="list-group-item list-group-item-info">메뉴 종류<strong class="pull-right"><%=row1.length%></strong>
                          <ul class="list-unstyled xsmall">
                            <input type='hidden' id='ord_sum' name='ord_sum' value='<%=total_price%>'>
                            <li class="of-h">총 상품금액 <span class="pull-right"> <%=total_price%>원</span></li>
                          </ul>
                          <br>
                          <button type="button" class="btn btn-warning btn-md btn-block"><span class="add-ord-item">주문 추가하기</span></button>
                        </li>

                        <li class="list-group-item">할인적용<strong class="pull-right">원</strong><strong class="pull-right" id="cpn_cal">0</strong><strong class="pull-right">-</strong></li>

                        <li class="list-group-item list-group-item-success">
                          <strong>최종 결제 금액</strong>
                          <input type='hidden' id='final_sum' name='final_sum' value='<%=total_price%>'>
                          <strong class="pull-right"> 원</strong><strong class="text-primary pull-right"><em class="price"> <%=total_price%></em></strong>
                        </li>
                    </ul>

                    <ul class="list-group">
                      <li class="list-group-item list-group-item-warning"><strong><h4 class="text-center">결제방법</h4></strong>
                        <button type="submit" class="btn btn-info btn-md btn-block">포인트 결제하기</button>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
      </form>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Software Engineering Project </p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>

    <!-- jQuery -->
    <script src="/bootstrap-3.3.6-dist/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

</body>

</html>
