﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Round About - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <header>
        <nav>
            <div class="text-right">
                <div class="btn-group" style="background-color:white-space">
                    <div col-md-3>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" onclick="location.href='/login';">로그인</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/signup';">회원가입</button>
                          <button type="button" class="btn btn-default" onclick="location.href='/service';">고객센터</button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <a href="/ceo">
                    <img class="img-responsive left-block" src="/images/ceo/ceo_main.jpg" alt="logo" width="200" height="200">
                </a>
                <a href="/">
                    <img class="img-responsive center-block" src="/images/main_logo.jpg" alt="logo">
                </a>
                <br>
                <br>
                <br>
            </div>
        </div>

        <!-- Text박스로 업소명 입력 및 위치 입력 코드 추가해야됨 -->
        <div class="input-group srch">
            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="동명을 입력해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">찾기</button>
            </span>

            <input type="text" class="form-control" id="sch_kwd" style="ime-mode:inactive" onkeypress="evtKeyPress(event)" placeholder="업소명을 검색해주세요">
            <span class="input-group-btn">
              <button type="button" class="btn" onclick="fn_sch_kwd(); return false;">검색</button>
            </span>
        </div>
        <br>
        <br>
        <!-- Centered Tabs -->
        <ul class="nav nav-tabs nav-justified">
            <li>
                <a href="/list/pizza" class="btn btn-secondary "> <img class="img-circle img-responsive img-center" src="/images/Pizza.jpg" width="100px" height="100px" alt="">피자</a>
            </li>
            <li>
                <a href="/list/chicken" class="btn btn-secondary "><img class="img-circle img-responsive img-center" src="/images/Chicken.jpg" width="100px" height="100px" alt="">치킨</a>
            </li>
            <li>
                <a href="/list/ilsik" class="btn btn-secondary "><img class="img-circle img-responsive img-center" src="/images/Chobab.jpg" width="100px" height="100px" alt="">일식</a>
            </li>
            <li>
                <a href="/list/bunsik" class="btn btn-secondary "> <img class="img-circle img-responsive img-center" src="/images/Bunsick.jpg" width="100px" height="100px" alt="">분식</a>
            </li>
            <li>
                <a href="/list/joongsik" class="btn btn-secondary "><img class="img-circle img-responsive img-center" src="/images/Zazang.jpg" width="100px" height="100px" alt="">중식</a>
            </li>
            <li>
                <a href="/list/hamburger" class="btn btn-secondary "><img class="img-circle img-responsive img-center" src="/images/Hamburger.jpg" width="100px" height="100px" alt="">햄버거</a>
            </li>
        </ul>
        <br>
        <br>

    <h1><%= title %></h1>

      <table class="table table-striped">
        <input type="hidden" name="idx" value="<%=row.idx%>"/>
        <tr>
          <th>작성자</th>
          <td><%=row.creator_id%></td>
        </tr>
        <tr>
          <th>제목</th>
          <td><%=row.title%></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><%=row.content%></td>
        </tr>
        <tr>
          <th>조회수</th>
          <td><%=row.hit%></td>
        </tr>
  <tr>
    <td colspan="2">
    <a href="/service_board">리스트로 돌아가기</a>
    </td>
  </tr>
      </table>

</body>
</html>
